.ListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.title{
	max-width: 185px;
	word-wrap: normal;
    padding-top: 10px;
    padding-bottom: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
}

.img {
    width: 185px;
    height: 277px;
    padding-bottom: 5px;
}