.Navi {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	margin: 5px 15px;
    justify-content: space-evenly;
}

.NaviItem {
    color: black;
    text-decoration: underline;
	margin: 0 5px;
}